---
layout: page
title: 'Chris Aaron Rice Ministries'
cover-img: '/assets/img/slide1.png'
---
<br>
<script id="subsplash-embed-bm8stxb" type="text/javascript">var target = document.getElementById("subsplash-embed-bm8stxb");var script = document.createElement("script");script.type = "text/javascript";script.onload = function() {subsplashEmbed("+vnj8/lb/ms/+mk6xh5c?embed&1648132681089","https://subsplash.com/","subsplash-embed-bm8stxb");};script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);</script>
